.container {
    margin-top: 15px;
    background-color: #ffff;
    padding: 15px;
}

.grid-table {
    overflow-x: auto;
}

.table {
    width: 100%;
    border-spacing: 0;
    overflow: hidden;
    min-width: 880px;
    
    th, td {
        padding: 15px 15px;
        text-align: start;
        min-height: 50px;
    }
    td {
        border-top: 1px solid #ddd;
    }
}

.name {
    width: 15%;
}

.product {
    width: 20%;
}

.amount {
    width: 10%;
}

.money {
    width: 15%;
}

.moreInfo {
    width: 30%;
}

.manipulation {
    width: 10%;
}


// Button 

.btn-delete-product-cart {
    background-color: var(--danger-color);
}