.dropdown {
    position: relative;
}

.item-main {
    cursor: pointer;
    user-select: none;
}

.list-item {
    min-width: 200px;
    padding: 3px 0px;
    position: absolute;
    border-radius: 4px;
    background-color: #ffff;
    box-shadow: var(--bs-color);

    display: none;
}

.right {
    right: 0px;
}

.left {
    left: 0px;
}

// .list-item::before {
//     content: "";
//     position: absolute;
//     width: 0px;
//     height: 0px;
//     top: -9px;
//     right: 40px;
//     border-top: 0px solid transparent;
//     border-right: 10px solid transparent;
//     border-left: 10px solid transparent;
//     border-bottom: 10px solid #ffff;
// }

.item-link {
    padding: 8px 16px;
    margin: 6px 0px;
    cursor: pointer;

    &:hover {
        background-color: var(--hv-color);
    }
}

.dropdown.active .list-item {
    display: block;
}

// Animation

.list-item {
    animation-name: fade, slide;
    animation-duration: 200ms, 400ms;
    animation-fill-mode: forwards;
    // animation-timing-function: linear, cubic-bezier(0.23, 1, 0.32, 1);
    // animation-delay: 200ms, 0;
}

// ---

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes slide {
    0% {
        margin-top: 0px;
    }
    100% {
        margin-top: 10px;
    }
}

// ---