.title {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 15px;
    // text-transform: uppercase;
}

// Customize

.size-lg {
    
    .text {
        font-size: 26px;
        font-weight: 700;
        color: #2c31cf;
    }
}