.wrapper {
    margin-top: 20px;
}

.container {
    display: flex;
}

.content-image {
    max-width: 768px;
    width: 100%;
}

.content-information {
    padding: 0px 15px;
}

// Response

@media (max-width: 880px) {
    .container {
        flex-direction: column;
    }
}