.grid-image {
    width: 80px;
    height: 80px;
    margin: 5px 10px;
    border: 3px dashed var(--blur-color);
    border-radius: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    // animation: fadeHide 1s linear;
}

.grid-image:hover {
    opacity: 0.7;
}


.icon-plus {
    width: 25%;
}

// Animation

@keyframes fadeHide {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}