
// Progress

.progress {
    max-width: 200px;
    width: 100%;
    display: flex;
    margin: 10px 0px;
    overflow: hidden;
    border-radius: 999px;
    border: 1px solid var(--blur-color);
}

.loading {
    width: 30%;
    height: 10px;
    background-color: var(--blue-color);
}