.sidebar {
    padding: 5px;
    left: 15px;
    width: 80px;
    top: calc(var(--hd-height) + 20px);
    border-radius: 12px;
    border: 1px solid #ddd;
    position: sticky;
    background-color: #ffff;
}

// Create sidebar

.create-post {
    width: 44px;
    height: 44px;
    background-color: blue;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: all 2s linear;
    
    svg {
        width: 16px;
        fill: #ffff;
        transition: 0.1s linear;
        font-weight: 600;
    }
    &:hover>svg{
        transform: scale(1.3);
    }
}

.create-post.active {
    
    svg {
        transform: scale(1.3) rotate(45deg);
    }
}

// Item Sidebar

.item-btn-sidebar {
    padding: 5px;
}

.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item-sidebar {
    width: 72px;
    height: 72px;
    color: #1a1a1a;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;


    &:hover {
        background-color: var(--hv-color);
    }
}